*.py[co]
*.mo
.coverage
.eggs/
.installed.cfg
.project
.pydevproject
.tox
__pycache__
bin
coverage
docs/_build/
develop-eggs
htmls
parts
*.egg-info
tags
htmls
include/
lib*
pip-selfcheck.json
pyvenv.cfg
