[buildout]
develop = . benchmark
parts = test coverage-test coverage-report python
; # Parts that do not build due to the setuptools mess:
;        docs
; # Parts with recipes not ported to Python 3:
;        test-with-z3cpt
;        checker i18n
;        chameleon-cache-dir benchmark pocompile
versions = versions

[versions]
lxml = 3.1.0
python-gettext = 2.1
sourcecodegen = 0.6.14
z3c.recipe.sphinxdoc = 1.0.0
z3c.template = 2.0.0a1
zc.sourcefactory = 1.0.0a1

[lxml]
recipe = z3c.recipe.staticlxml
egg = lxml
static = true
libxml2-url = http://xmlsoft.org/sources/libxml2-2.7.7.tar.gz
libxslt-url = http://xmlsoft.org/sources/libxslt-1.1.26.tar.gz

[chameleon-cache-dir]
recipe = z3c.recipe.dev:mkdir
path = parts/chameleon

[test-environment]
CHAMELEON_DEBUG = False
CHAMELEON_CACHE = ${buildout:directory}/parts/chameleon

[test-with-z3cpt]
recipe = zc.recipe.testrunner
eggs = z3c.form [test,extra]
environment = test-environment

[test]
recipe = zc.recipe.testrunner
eggs = z3c.form [test]

[checker]
recipe = lovely.recipe:importchecker
path = src/z3c/form

[coverage-test]
recipe = zc.recipe.testrunner
eggs = z3c.form [test]
defaults = ['--coverage', '../../coverage']
environment = test-environment

[coverage-report]
recipe = zc.recipe.egg
eggs =
    z3c.coverage
scripts = coveragereport
arguments = ('${buildout:directory}/coverage', '${buildout:directory}/coverage/report')

[pocompile]
recipe = zc.recipe.egg
eggs = zest.pocompile

[docs]
recipe = z3c.recipe.sphinxdoc
eggs = z3c.form [docs]
build-dir = ${buildout:directory}/docs
default.css =
layout.html =

[i18n]
recipe = lovely.recipe:i18n
eggs =
  zope.app.appsetup # this is needed for zcml support in the extracter
  zope.component
  zope.security
  zope.i18n
  zope.contenttype
  zope.app.pagetemplate
  zope.app.applicationcontrol
  z3c.form
package = z3c.form
domain = z3c.form
location = src/z3c/form
output = locales
zcml =
  <include package="zope.component" file="meta.zcml" />
  <include package="zope.security" file="meta.zcml" />
  <include package="zope.i18n" file="meta.zcml" />
  <include package="z3c.form" file="meta.zcml" />
  <include package="z3c.form" />

[benchmark]
recipe = zc.recipe.testrunner
environment = benchmark-environment
eggs =
   z3c.form [test,extra]
   benchmark
defaults = ['-m', 'benchmark']

[benchmark-environment]
CHAMELEON_DEBUG = False
CHAMELEON_CACHE = ${buildout:directory}/parts/chameleon

[python]
recipe = zc.recipe.egg
eggs = z3c.form
interpreter = python
