[buildout]
develop = .
parts = test checker coverage-test coverage-report
index = http://download.zope.org/zope3.4

[test]
recipe = zc.recipe.testrunner
eggs = z3c.form [test]

[checker]
recipe = lovely.recipe:importchecker
path = src/z3c/form

[coverage-test]
recipe = zc.recipe.testrunner
eggs = z3c.form [test]
defaults = ['--coverage', '../../coverage']

[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')

