[buildout]
extends = buildout.cfg versions-3.4.cfg
parts = test test-no-z3cpt python benchmark
versions = versions

[test]
recipe = zc.recipe.testrunner
eggs = z3c.form [test,extra,zope34]
environment = test-environment

[test-no-z3cpt]
recipe = zc.recipe.testrunner
eggs = z3c.form [test,zope34]

[benchmark-environment]
CHAMELEON_DEBUG = False
CHAMELEON_CACHE = True

[benchmark]
recipe = zc.recipe.testrunner
eggs =
   z3c.form [test,extra,zope34]
   benchmark
defaults = ['-m', 'benchmark']
environment = benchmark-environment

[versions]
z3c.form =
lxml = 2.1.1
zc.sourcefactory = 0.4.0
# Required for z3c.pt support
z3c.pt = 1.0.0
z3c.ptcompat = 0.5.3
zope.i18n = 3.7.0
python-gettext = 1.0
zope.schema = 3.6.0
