global-include *.mo
include *.txt
include bootstrap.py
include buildout.cfg
include dev.cfg
include tox.ini
recursive-include src/z3c/form *.zcml *.pt *.txt *.png *.dot *.ps *.po *.pot
recursive-include benchmark *.py
