global-include *.mo
include *.txt
include *.rst
include buildout.cfg
include dev.cfg
include tox.ini
include .travis.yml
include .coveragerc
recursive-include src/z3c/form *.zcml *.pt *.js *.rst *.png *.dot *.ps *.po *.pot *.css
recursive-include benchmark *.py

recursive-include docs *.rst
recursive-include docs *.py
